.do {
    width: 200px;
    height: 200px;
    background-color: red;
    /* transition: width 4s, height 8s ; */
    /* transition: 1s; */
    animation: bw 10s;
    position: relative;
    top: 0;
    left: 0;


}
.vang{
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: 1s;
}
.do:hover .vang{
    /* width: 200px;
    height: 200px;
    background-color:blue;
    transition-delay: 0.2s ; */
    /* -o-transition-timing-function: ease-in; */
    /* transform: scale(1,2) */
    /* transform: translateX(600px) */
    transform: rotate(180deg);
    opacity: 0;
}
@keyframes bw {
    0% {
        background-color: red;
        width: 200px;
        top: 0px;
        left: 0px ;
    }
    25% {
        background-color: green;
        width: 200px;
        top: 1300px;
        left: 0px ;
       
    }
    50% {
        background-color: yellow
        width: 200px;
        top: 1300px;
        left: 900px ;
       
    }
    75% {
        background-color: blue;
        width: 200px;
        top: 0px;
        left: 900px ;
    }
    100% {
        background-color: red;
        width: 200px;
        top: 0px;
        left: 0px ;
    }
}